:root{
    ---font:"Oleo Script";
    --secondary-font:"Roboto";
    --main-font:"Raleway";
    /* text colors */
    --accent-txt-cl: #2196F3;
    --dark-txt-cl: #212121;
    --light-txt-cl:#FFFFFF;
    --gray-txt-cl:#757575;
    /* background-color */
    --gray-bgr-cl: #F5F4FA;
    --dark-bgr-cl: #2F303A;

}
.body{
font-family: 'Oleo Script', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;}
/* */

.text {
    font-family: var(--secondary-font)}
/* логотип */
.header-logo{
    font-family: var(--tertiary-font);
    font-weight: 400;
    color: #000000;
    font-size: 26px;
    line-height: 31px;
}
.logo{
    font-family: 'Oleo Script', cursive;
    font-weight: 700;
    color: #2196F3
}
/* наігація */
.header-link{
    font-style : normal ;
    font-weight : 500 ;
    font-size : 14px ;
    line-height : 1.33 ;
    letter-spacing : 0.02em ;
    color: var(--dark-txt-cl)
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-txt-cl)
}
/* контакти */
.header-cont{
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: var(--dark-txt-cl)
}
.header-cont:hover,
.header-cont:focus{
color: var(--accent-txt-cl)
}
/* section hero */
.hero{
    background-color:var(--dark-bgr-cl);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
        /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-txt-cl);
}
/* кнопка в секції герой */
.hero-button{
color:var(--light-txt-cl);
font-family:var(--secondary-font);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color:var(--accent-txt-cl);
box-shadow: 0px 4px 4px rgba (0, 0, 0, 0.15);
border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus{
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba (0, 0, 0, 0.15);
    border-radius: 4px;
}

.mein-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.33px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-txt-cl)
}
.upertitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
        /* or 171% */
    letter-spacing: 0.03em;
    color: var(--gray-txt-cl);
}
.action-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
color: var(--dark-txt-cl);
}
.group{
background-color:var(--gray-bgr-cl)
}
.group-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--dark-txt-cl);
}
.title-name{
font-weight: 500;
font-size: 16px;
line-height: 19px;
    /* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--dark-txt-cl)
}
.prof{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
        /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gray-txt-cl);
}

.photo-list{
color: #FFFFFF ;
}
/* footer */
.footer{
background-color : var(--dark-txt-cl);
}

